<h1>Welcome to "The Site"</h1>
<div class="card-deck">
    <div class="card border-primary">
        <partial name="RegPartial"></partial>
    </div>
    <div class="card border-primary">
        <partial name="LogPartial"></partial>
    </div>
</div>


<h6>using partials for both Login and Registration...</h6>